@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
    --purple: #2b9880;
    --pink: #57baa4;
    --gradient: linear-gradient(100deg, var(--purple), var(--pink));
    --logo: linear-gradient(100deg, #2af598, #08aeea);
    --gradient2: linear-gradient(67deg, #5164c9 0%, #d132c7 90%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-image: url(/assets/imagess/images/dumas.png);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 90vmax;
}

body #navbar {
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition-duration: 700ms;
}

nav .logo {
    font-size: 23px !important;
    color: var(--purple);
}

nav .btn {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 4rem;
    background: var(--purple);
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: none;
}

nav .btn:hover {
    transform: scale(1.1);
}

nav .logo span {
    color: var(--pink);
}

.navbar a {
    font-size: 18px;
    margin-left: 10px;
    color: white;
    align-items: center;
    align-content: center;
}

.navbar a:hover {
    color: white;
}

nav .dropdown-item {
    color: white;
}

.bg-light-blur {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(1px);
}

.bg-light-transparent {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

#home {
    padding-top: 5rem;
}

#home h2 {
    font-size: 65px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

#home h2 span {
    font-weight: 700;
    color: var(--pink);
    text-transform: uppercase;
}

#home .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 16px 35px;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    border: none;
}

#home .btn:hover {
    transform: scale(1.1);
}

#home svg {
    margin-top: -120px;
}

#tatacara .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 14px 32px;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    border: none;
}
#tatacara .btn:hover {
    transform: scale(1.1);
}

#about .btn {
    border: var(--pink);
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 2rem;
    background: var(--gradient);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

#about .btn:hover {
    transform: scale(1.1);
}

#footer {
    background-color: var(--pink);
}

@media (max-width: 768px) {
    #home h2 span {
        /* text-shadow: 3px 1.3px rgba(0, 0, 0, 0.7); */
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 480px) {
    #home h2 {
        font-size: 50px !important;
    }

    #home h2 span {
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 380px) {
    #home h2 {
        font-size: 40px !important;
    }
}
